<div class="col-xs-12">
  <h3>outcome</h3>
  <h4><%= @decision.outcomes.first.actual %></h4>
  <h3>What i found i'm good at</h3>
  <h4 class="bg-success"><%= @decision.outcomes.first.strength %></h4>
  <h3>What i found i'm weak at</h3>
  <h4 class="bg-danger"><%= @decision.outcomes.first.weakness %></h4>
</div>
