
<h1>list of strengts</h1>
<% @outcomes.each do |outcome| %>
<h2><a><%= outcome.strength%></a></h2>
<% end %>


<h1>list of Weaknesses</h1>
<% @outcomes.each do |outcome| %>
<h2><a><%= outcome.weakness%></a></h2>
<% end %>
