
<div class="row marketing">
  <div class="col-xs-6 bg-success">
      <h3>Stuff i should do more of ...</h3>
      <% @outcomes.each do |outcome| %>
        <p  ><%= outcome.strength%></p>
        <hr>
      <% end %>
    </div>

    <div class="col-xs-6 bg-danger">
      <h3>Stuff i should do less of..</h3>
      <% @outcomes.each do |outcome| %>
        <p><%= outcome.weakness%></p>
        <hr>
      <% end %>
    </div>
</div>
